{% extends "asan/base.html" %}
{% load static %}

{% block css_styles %}
  <link rel="stylesheet" href="{% static "asan/firma.css" %}">
{% endblock css_styles %}

{% block title %}Firmalar{% endblock title %}

{% block content %}

<div class="outer">
  <div class="container">
    <h2>Yekun məbləğ: {{ umumi_qiymet }} AZN</h2>

    <table class="rwd-table">
          <tr>
            <td>Məhsul adı</td>
            <td>Sayı</td>
            <td>Qiyməti (Sayına görə)</td>
          </tr>

          {% for secilmis in secilmis_mehsullar %}
            <tr>
              <td>{{ secilmis.mehsul_adi }}</td>
              <td>{{ secilmis.sayi }}</td>
              <td>{{ secilmis.mehsul_qiymeti }} AZN</td>
            <tr>
          {% endfor %}
        </table>
  </div>
</div>

{% endblock content %}